<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="styles/style.css">
    <title>Oops...</title>
</head>
<body>
    <main class="error">
        <section>
            <h2>Oops it looks like something went wrong...</h2>
            <p>We are very sorry for this convenience. Please try to reload the page.</p>
        </section>
    </main>
    
</body>
</html>